.card {
    border-radius: 10px !important;
    filter: drop-shadow(0 5px 10px 0 #ffffff) !important;
    width: 400px !important;
    background-color: #ffffff !important;
    padding: 20px !important;
    position: relative !important;
    z-index: 0 !important;
    overflow: hidden !important;
    transition: 0.6s ease-in !important;
    margin-bottom: 10px;
}

.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -15px;
    background: #800000;
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card:hover::before {
    transition-delay: 0.2s;

    transform: scale(40);
}

.card:hover {
    color: #ffffff;

}

.card p {
    padding: 10px 0;
}

.separator.small {
    background-color: #303030;
    height: 2px;
    position: relative;
    width: 22px;
    display: block;
    margin: 10px auto 20px auto;
}

.column,
.columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
}

.column.centered,
.columns.centered {
    float: none;
    margin: 0 auto;
}

/* removed gutters */
.row.collapsed>.column,
.row.collapsed>.columns,
.column.collapsed,
.columns.collapsed {
    padding: 0;
}

[class*="column"]+[class*="column"]:last-child {
    float: right;
}

[class*="column"]+[class*="column"].end {
    float: right;
}

.item-wrap img {
    width: 30%;
}