.App {
    font-family: sans-serif;
    text-align: center;
}

section {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 32px;
    font-weight: bold;
}

/* #home {
    margin-top: -80px;
} */

#encourage,
#contact {
    color: #3b3b3c;
    background: #eaf2fa;
}

/* .nav {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 2;
    height: 70px;
    min-height: 70px;

    padding: 0 1rem;

}

.nav__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

}

.nav__container__actions {
    display: inline-flex;
    flex-flow: row nowrap;

    flex: 1;
    justify-content: center;
} */

.active {
    font-weight: bold;
    color: #b70004;
}

ul {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
    margin-top: 0px !important;
    margin-bottom: 0rem !important;
    font-size: 25px !important;
}

li {
    cursor: pointer;
    color: #3b3b3c !important;
}

li:hover {
    text-decoration: underline;
}